<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="index.css">
        <title>Markdown to HTML</title>
    </head>
    <body>
        <form method="POST" action="/output" id="input-wrapper">
            <textarea id="inputTextarea" name="inputTextarea"></textarea>
            <button id="inputButton">Convert</button>
        </form>
    </body>
</html>